<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <jmxConfigurator />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="permission" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/permission.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <FileNamePattern>${catalina.home}/logs/permission.%d{yyyy-MM-dd HH}.log.gz</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            </encoder>
        </layout>
    </appender>

    <logger name="xxx" level="INFO">
        <appender-ref ref="permission"/>
    </logger>-->

    <!-- TRACE < DEBUG < INFO < WARNING < ERROR -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="dao" level="DEBUG">
        <!--daoFILE为实际定义的appender-->
        <appender-ref ref="daoFILE" />
    </logger>
</configuration>